#!/bin/sh

xrand --dpi 125

#xrdb ${XDG_CONFIG_HOME:-$HOME/.config}/x11/xresources & xrdbpid=$!     # Uncomment to use Xresources colors/settings on startup

autostart="xcompmgr pulseaudio"

for program in $autostart; do
    pidof -sx "$program" || "$program" &
done >/dev/null 2>&1

#ensure that xrdb has finished running before moving on to start the WM/DE.
[ -n "$xrdbpid" ] && wait "$xrdbpid"
